.tenantlist {
  padding: 20px;
  width: 100%;
  margin: 0px auto;
  border-radius: 7px;
}

.main-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.table-container {
  overflow-x: auto;
  width: 60%;
}

.tenantlist-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 7px;
}

.tenantlist-table th,
.tenantlist-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.tenantlist-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.tenantlist-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tenantlist-table tbody tr:hover {
  background-color: #f5f5f5;
}

.tenantlist-table td {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard {
  padding: 20px;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 0.3px solid silver;
}

.dashboard__logo {
  font-size: 24px;
  font-weight: bold;
}

.dashboard__search {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
  width: min-content;
  margin-left: auto;
  position: relative;
}

.suggestions {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px;
  z-index: 999;
}

.suggestion {
  cursor: pointer;
  padding: 4px;
}

.suggestion:hover {
  background-color: #f4f4f4;
}